# Игнорируем всё на корневом уровне
/*

# Исключения: не игнорируем сам .gitignore и папку с проектом
!.gitignore
!README.md
!LICENSE
!SECURITY.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!movie_recommender/

# Разрешаем Git заходить внутрь папки movie_recommender и видеть все файлы
!movie_recommender/**

# Явный игнор мусора внутри проекта, если он туда затесался
**/__pycache__/
**/*.pyc
**/db.sqlite3
**/.env