SECRET_KEY=замени-на-свой-секретный-ключ
DEBUG=False
ALLOWED_HOSTS=твой-домен.railway.app,localhost

# Railway сам подставляет DATABASE_URL — руками не трогать
# DATABASE_URL=postgresql://user:pass@host:5432/dbname

TMDB_API_KEY=8bf31002475b2fd4bc514cd9d272c4e5
